table {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 20px auto;
  max-width: 1080px;
  text-align: left;
  border-collapse: collapse;
  background-color: #1b1b1b; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

th {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background: #ff6600; /* Naranja */
  border-top: 4px solid #ff9900; /* Naranja más claro */
  border-bottom: 1px solid #fff;
}

td {
  padding: 10px;
  background: #2a2a2a; /* Gris oscuro */
  border-bottom: 1px solid #3a3a3a; /* Gris medio */
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #3a3a3a; /* Gris medio */
}

@media (max-width: 667px) {
  .table {
    display: block;
  }

  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid #3a3a3a;
  }

  .table td {
    display: block;
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 8px;
    font-weight: bold;
    text-align: left;
  }
}
