 <!-- Tabla con datos -->
  <table>
    <select [(ngModel)]="selectedOption" (ngModelChange)="onOptionChange()">
      <option value="showMostRated">Most Rated</option>
      <option value="showMostPlayed">Most Played</option>
      <option value="showMostExpensive">Most Expensive</option>
    </select>
    <tbody>
      <tr>
        <td>Genres</td>
        <td>Name</td>
        <td>Positive Rating</td>
        <td>PlayTime</td>
        <td>Price</td>
        <td>Release date</td>

      </tr>
      <!-- Agregar la verificación de nulidad con el operador '?.' -->
      <tr *ngFor="let datum of data?.slice(0, 10) || []">
        <td>{{ datum.genres }}</td>
        <td>{{ datum.name }}</td>
        <td>{{ datum.positive_ratings }}</td>
        <td>{{ datum.median_playtime }}</td>
        <td>{{ datum.price }}</td>
        <td>{{ datum.release_date }}</td>
      </tr>      
    </tbody>
  </table>
  