@media (max-width: 768px) {
  #chart {
    flex-direction: column;
  }
}


/* Estilos para hacer los gráficos responsivos */
.canvas-container {
  margin-top: 20px; /* Ajusta la cantidad de espacio según tus necesidades */
  position: relative;
  width: 100%;
  max-width: 1200px; /* Ajusta el valor máximo según tus necesidades */
  margin: 0 auto;
}

.canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
