.contenedor-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  
  @media (max-width: 768px) {
    .contenedor-features {
      width: 90%; /* Ajusta el ancho de cada componente en dispositivos móviles */
    }
  }

#presentation{
  text-align: center;
}

