.circle {
    width: 100px; /* Ajusta el ancho y el alto según tus necesidades */
    height: 100px;
    border-radius: 50%; /* Aplica un borde circular */
    overflow: hidden; /* Oculta cualquier contenido que exceda el área del círculo */
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
  }
  
  .text {
    max-width: 300px; /* Ancho máximo deseado para el texto */
    
  }
  
  
  .image img {
    height: auto; /* Altura ajustada automáticamente */
  }
  